---
import RootLayout from '../layouts/root-layout.astro'
---

<RootLayout title='404 - Page Not Found'>
    <main class='grid grow place-content-center bg-blue-400'>
        <h1 class='text-9xl font-black text-white'>page not found bro</h1>
    </main>
</RootLayout>
