---
import footerBackground from '@/assets/images/footer-background-image.png'
import footerImage from '@/assets/images/3d-footer-image-desktop.png'
import mobileFooterImage from '@/assets/images/3d-footer-background-items-image.png'
import { Image } from 'astro:assets'
---

<div class='h-full w-full'>
    <Image
        class='w-full object-cover'
        src={footerBackground}
        quality={100}
        sizes='100vw'
        loading='eager'
        alt='Screenshot of a pink floaty flamingo'
    />
</div>

<section
    class='relative z-20 flex min-h-[80vh] w-full flex-col items-center justify-center bg-[#12C4E7] sm:min-h-[60vh]'>
    <footer class='relative z-30 flex w-full flex-col items-center justify-center pb-[120px] text-center'>
        <div class='flex flex-col items-center justify-center'>
            <h1
                class='font-raleway relative z-20 mb-4 text-center text-[38px] font-extrabold leading-[100%] text-white sm:text-[38px] md:text-[80px] lg:text-[126px]'>
                Ready to dive in?
            </h1>
            <p
                class='relative z-20 px-3 text-center text-[16px] text-white sm:mb-4 md:text-[26px] lg:mb-12 lg:w-[517px]'>
                Join the Pool community today and start experiencing events like never before. Your next adventure is
                just a click away.
            </p>
        </div>
        <a
            href='https://form.asana.com/?k=Qx1HYy3c8KcgfHyWszZnyA&d=1207858482725448'
            class='relative z-30 mb-6 mt-12 w-full max-w-[224px] rounded-full bg-[#FF7056]/100 px-8 py-3.5 text-xl font-normal text-white sm:w-auto'>
            Sponsor an event
        </a>
        <a href='https://calendly.com/partywithpool' class='relative z-30 mb-40 w-36 py-3 text-center text-white'>
            Book a call
        </a>
    </footer>

    <div class='pointer-events-none absolute bottom-0 left-0 w-full'>
        <Image
            src={mobileFooterImage}
            quality={100}
            sizes='100vw'
            loading='eager'
            alt='A photo of a beach setting with palm trees, sand and an umbrella'
            class='block h-auto w-full sm:hidden'
        />

        <Image
            src={footerImage}
            quality={100}
            sizes='100vw'
            loading='eager'
            alt='A photo of a beach setting with palm trees, sand and an umbrella'
            class='hidden h-auto w-full sm:block'
        />
    </div>
</section>
