<header class='absolute top-0 z-50 w-full transition-colors duration-300' id='main-header'>
    <nav class='container flex items-center justify-between py-5 align-middle lg:py-16'>
        <a href='/' class='font-logo text-3xl font-bold text-white md:text-5xl'>pool</a>
        <a
            href='https://app.poolparty.cc'
            class='hidden rounded-full bg-[#FF7056]/100 px-8 py-3.5 text-xl font-normal text-white md:inline-block'>
            Sponsor an event
        </a>
    </nav>
</header>
