<header class='absolute top-0 z-50 w-full transition-colors duration-300' id='main-header'>
    <nav class='container flex items-center justify-between py-5 align-middle lg:py-16'>
        <div class='relative items-center justify-center align-middle'>
            <a href='#main-header' id='' class='font-raleway px-6 text-3xl font-bold text-white md:text-5xl'>pool</a>
        </div>
        <div>
            <!-- <a href='#upcoming-events' id='' class='px-6 text-xl text-white'>Upcoming events</a>
            <a href='#download-app' id='' class='px-6 text-xl text-white'>About</a> -->
            <a
                href='https://app.poolparty.cc'
                class='hidden rounded-full bg-[#FF7056]/100 px-8 py-3.5 text-xl font-normal text-white md:inline-block'>
                Launch app
            </a>
        </div>
    </nav>
</header>
