---
import { Image } from 'astro:assets'
import poolHeroBg from '@/assets/images/pool-hero-bg.png'
import poolEvent from '@/assets/images/pool-event.png'
---

<div class='absolute inset-0 -z-10 h-3/5'>
    <Image src={poolHeroBg} alt='pool background' quality={100} sizes='100vw' class='w-full object-cover' />
</div>
<section class='container pb-36 pt-16 lg:pt-36'>
    <div class='flex flex-col gap-10 text-zinc-100 lg:flex-row lg:gap-0'>
        <div class='flex flex-col justify-center gap-4'>
            <h1 class='text-4xl font-black uppercase tracking-tighter lg:text-7xl'>
                Pooling funds
                <span class='hidden h-0 sm:block'>
                    <br />
                </span>{' '}
                made simple
            </h1>

            <p class='text-xl font-semibold'>
                Effortlessly create, fund, and manage your own &apos;Pool parties.&apos;
                <br />
                Enjoy a seamless and fun event planning experience.
            </p>
            <div
                class='inline-flex flex-col items-center gap-2 text-nowrap text-base font-semibold *:w-1/2 md:flex-row md:items-start'>
                <a
                    href='https://app.poolparty.cc'
                    class='rounded-full bg-zinc-100/90 py-3 text-center font-semibold text-black transition duration-300 md:px-10'>
                    Get Started
                </a>
                <a
                    href='/terms'
                    class='rounded-full py-3 text-center font-semibold transition duration-300 hover:text-opacity-90 md:px-10'>
                    <span class='hidden sm:inline'>Terms and conditions</span>
                    <span class='sm:hidden'>Terms</span>
                </a>
            </div>
        </div>
        <div class='flex w-full justify-center md:w-1/2 lg:justify-end'>
            <Image
                class='h-full w-4/5 object-contain'
                src={poolEvent}
                width={498}
                height={666}
                quality={100}
                sizes='100vw'
                loading='eager'
                alt='Screenshot of the Pool Party app'
            />
        </div>
    </div>
</section>
