---
import '@/globals.css'
import '@fontsource/comfortaa'
import '@fontsource/inter'

const { title } = Astro.props
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <title>Pool Party - {title}</title>
    </head>
    <body class='flex min-h-dvh flex-col motion-safe:scroll-smooth'>
        <slot />
    </body>
</html>
